.editar{
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

.titulo_editar {
    padding: 2rem 0;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 1rem;
}

.titulo_form{
    text-align: center;
    font-size: 26px;
    color: white;
    margin-top: 1rem;
}

.editar_form_item{
    color: white;
}

.item_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.button_editar{
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}