.slideItem{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.sobreImage{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.texto{
    margin: 1rem 2rem;
    font-size: 20px;
    color: white;
}

.espaco_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #262626;
}