.login{
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

.login_titulo{
    padding: 2rem 0;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 1rem;
}