.sobre{
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

.titulo_sobre{
    padding: 2rem 0;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 1rem;
}

.lista{
    text-align: center;
    color: white;
    margin: 1rem;
    list-style: none;
}