*{
    margin: 0;
    padding: 0;
}

.footer{
    padding: 2rem;
    margin-top: 0.8rem;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.social{
    display: flex;
    gap: 1rem;
}

.texto{
    color: white;
}